 /* common styles*/

 body{
   font-family: 'Open Sans', sans-serif;
   
 }
   
 /* header related styles*/

 .banner{
    text-align: center;
    position: relative;
    width: 100%;
    margin: o auto;
}
 
 .img1{
    border-radius:15px;
    background-blend-mode:darken;
 }
 

 .heading2{
    color: whitesmoke;
    position: absolute;
    top: 37%;
    width: 100%;
    text-align: center;
    font-size 48px;
 }
   .heading1 {
    color: whitesmoke;
    position: absolute;
    top: 45%;
    width: 100%;
    text-align: center;
    font-size: 60px;
   }
   /* main */
     
   .banner2{ 
    text-align: center;
   }
   .heading3{
     color: red;
     font-size: 80px;
     margin-bottom: 25px;
   }
   .heading4{
    color: #FF0000;
    font-size: 20px;
    margin-bottom: 5px;
   }
   .heading5{
     color: black;
     font-size: 40px;
     margin-top: 3px;
   }
   
   .banner3{
    height: 450px;
    background-image: url("Vectorrr.png");
    background-repeat: no-repeat;
    background-position: cover;
    margin-left: 400px;
    background-size: 800px;
    background-blend-mode: darken;
   }
   
   
   .heading6{
     color: white;
     font-size: 26px;
     padding-top: 100px;
     padding-left: 50px;
   }
   .heading7{
    color: white;
    padding-left: 50px;
    
   }
   p{
     color: white;
     font-size: 12px;
     padding-left: 50px;
   }
   .btn1{
    margin-left: 50px;
    display: flex;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 15px;
    border-radius: 5px;
    background:black ;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    color:grey ;
}
.btn1:hover{
    color: antiquewhite;
}
.banner4{
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%); 
    width:800px;
    height:300px;
    margin-left: 26%;
}
.heading8{
  text-align: center;
  padding-top: 80px;
  padding-bottom: auto;

}
 .heading9{
  text-align: center;
 
 }
 .heading10{
  text-align: center;
 }
 .btn2{
  margin-top: 60px;
  margin-left: 45%;
  font-weight: bold;
  font-family:sans-serif ;
  font-size: 18px;
  text-decoration: none;
  background-color: tomato;
  color: white;
  border-radius: 5px;
 }
 .btn2:hover{
  color: burlywood;
 }


 }

    



    
   
   
   


   
    
    
   
   
   
    
   