 /* common styles*/

 body{
   font-family: 'Open Sans', sans-serif;
   
 }
   
 /* header related styles*/

 .banner{
    text-align: center;
    position: relative;
    width: 100%;
    margin: o auto;
}
 
 .img1{
    border-radius:15px;
    background-blend-mode:darken;
 }
 

 .heading2{
    color: whitesmoke;
    position: absolute;
    top: 37%;
    width: 100%;
    text-align: center;
    font-size 48px;
 }
   .heading1 {
    color: whitesmoke;
    position: absolute;
    top: 45%;
    width: 100%;
    text-align: center;
    font-size: 60px;
   }
   /* main */
     
   .banner2{ 
    text-align: center;
   }
   .heading3{
     color: red;
     font-size: 80px;
     margin-bottom: 25px;
   }
   .heading4{
    color: #FF0000;
    font-size: 20px;
    margin-bottom: 5px;
   }
   .heading5{
     color: black;
     font-size: 40px;
     margin-top: 3px;
   }
   
   .banner3{
    height: 450px;
    background-image: url("Vectorrr.png");
    background-repeat: no-repeat;
    background-position: cover;
    margin-left: 400px;
    background-size: 800px;
    background-blend-mode: darken;
   }
   .banner4{
      display: flex;
   }
   .heading6{
     color: white;
     font-size: 26px;
     padding-top: 100px;
     padding-left: 50px;
   }
   .heading7{
    color: white;
    padding-left: 50px;
    
   }
   p{
     color: white;
     font-size: 12px;
     padding-left: 50px;
   }
   .btn{
    margin-left: 50px;
    display: flex;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 15px;
    border-radius: 5px;
    background:black ;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    color:grey ;
}
.btn:hover{
    color: antiquewhite;
}

    



    
   }
   
   


   
    
    
   
   
   
    
   